{%extends "base.html"%}

{%block content%}
<h1>Rock, Paper, Scissors!</h1>

<!-- let's put input form here -->
<form action="/playgame" method="post"> <!-- ADDED -->
  <label for="player1">Player 1</label>
  <input type="text" name="choice1" id="choice1" value="" placeholder="Enter choice here.">
  <label for="player2">Player 2</label>
  <input type="text" name="choice2" id="choice2" value="" placeholder="Enter choice here.">
  <!-- <textarea name="name" rows="1" cols="30"></textarea> -->
<input type="submit" value="Play Game">
</form>
  <!-- <label for="room">Room</label> -->
  <!-- <input type="text" name="room" id="room">
  <label for="description">Description</label>
  <input type="text" name="description" id="description">
  <label for="recurring">Recurring[Y/N]</label>
  <input type="text" name="recurring" id="recurring">
<input type="submit" value="Play Game">
</form>

<!-- {% for event in all_events %}  

  <div>
    <p>
      {{ event.name }}: {{ event.description }}: {{event.date}}: {{event.room}}
      {% if event.recurring == True %}
        <span>(recurring)</span>
      {% endif %}
    </p>
  </div>
{% endfor %}
{% endblock %} -->